{
  "extends": ["airbnb-typescript", "airbnb/hooks"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/semi": ["error", "never"],
    "max-len": ["error", { "code": 80 }]
  }
}
